body
  form(action='/monkeys', method='POST')
    p
      | name:
      input(type='text', name='name', value='')
      |          taille:
      input(type='text', name='taille', value='')
    input(type='submit', value='Submit')