html
    body
    h1 Monkey 3000!
    h3
        li
          a(href = "/createMonkey") Ajoutez un singe
        li
          a(href = "/createenclos") Ajoutez un enclos
        li
          a(href = "/monkeys") Voir vos singes
        li
          a(href = "/enclos") Voir vos enclos
