body
  form(action='/monkeys/update/' + id, method='POST')
    p
      | name:
      input(type='text', name='name', value='')
      | taille:
      input(type='text', name='taille', value='')
      | Enclos:
      input(type='text', name='EncloId', value='')
    input(type='submit', value='Submit')
  a(href="/") Retour Menu
